.post{background:#fff;color:#888;margin:0 0 20px 0;padding:0 10px 0 0;border:1px solid #f0f0f0;transition:all 0.3s linear;}
.post:hover {transition:.3s linear;}
.post-body {color:#000;margin-right:10px;font-size:12px;text-overflow:ellipsis;}
h2.post-title, h1.post-title {font-family:"Kaushan Script",cursive;font-size:20px;font-weight:700;padding:15px 0;text-transform:none;padding-bottom:0;text-align:left;border-bottom:none;border-top:none;}
h2.post-title:hover, h1.post-title:hover {color:#4791d2;}
h2.post-title a,h1.post-title a, h2.post-title, h1.post-title {color:#000;z-index:0;}
h2.post-title a:hover, h1.post-title a:hover {color:#4791d2!important;}
.post-info {background:#fff;margin-top:0;margin-bottom:0;padding:0;margin-right:15px;margin-left:15px;color:#aaa;font-size:11px;}
.post-info a {display:inline;background:transparent;color:#aaa;padding:5px;padding-left:0;margin-bottom:10px;transition:all .3s ease-out;}
.post-info a:hover {background:transparent;color:#4791d2;}
.author-info, .review-info, .time-info {margin-right:8px;display:inline;}
.img-thumbnail {overflow:hidden;background-color: lightblue;position:relative;float:left;width:250px;height:170px;margin:15px;z-index:1;padding:0;transition:all .7s cubic-bezier(.6,-0.28,.74,.05);}
.post .label-info {top:15px;left:15px;margin:0 auto;width:auto;z-index:1;}
.label-info a{background:rgba(34,34,34,0.5);color:#fff;font-size:13px;display:block;float:left;padding:4px 12px;margin:0;transition: all .3s ease-out; position: absolute; z-index: 9;}
.label-info a:hover{background:#222;color:#fff;}
.label-info a:nth-child(n+2){display:none;}
@media only screen and (max-width:720px){
	#yazi {visibility: hidden;} 
	.yazi {visibility: hidden;}
	}
@media only screen and (max-width:960px){
	h2.post-title, h1.post-title, h2.post-title a, h1.post-title a, h2.post-title, h1.post-title {font-size:18px;}
	.post-body {margin-bottom:10px;}
	a.read-more,.readm,.label-info {display:none;}
	.img-thumbnail {width:120px;height:100px;}
	.img-thumbnail img {width:120px;height:100px;}
	.img-thumbnail:before{display:none;}
	}
.img-thumbnail:hover{-webkit-transform:scale(1.25); /* Safari and Chrome */ -moz-transform:scale(1.25); /* Firefox */  -ms-transform:scale(1.25);-o-transform:scale(1.25);transform:scale(1.25);}
@media only screen and (max-width:480px){
	#yazi {visibility: hidden;} 
	.yazi {visibility: hidden;}
	h2.post-title, h1.post-title, h2.post-title a, h1.post-title a, h2.post-title, h1.post-title {font-size:16px;}
	.img-thumbnail {width:80px;height:60px;}
	.img-thumbnail img {width:80px;height:60px;}
	.img-thumbnail:before,.post-body,.post-share,{display:none!important;visibility:hidden;width:0;height:0;}
	.post {padding:0 0 25px 0;}
	}
@media only screen and (max-width:320px){
	#yazi {visibility: hidden;} 
	.yazi {visibility: hidden;}
	h2.post-title, h1.post-title, h2.post-title a, h1.post-title a, h2.post-title, h1.post-title {font-size:14px;}
	}
@-webkit-keyframes leftswitch {0% {left:0;top:0;-webkit-transform: rotateZ(0);transform: rotateZ(0);}50%{left:45%;top: -80%;-webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);}100%{left:90%;top: 0;-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg);}}@keyframes leftswitch {0% {left:0; top:0; -webkit-transform: rotateZ(0); transform: rotateZ(0);}50%{left:45%; top: -80%; -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg);}100% {left:90%; top: 0; -webkit-transform: rotateZ(180deg);transform: rotateZ(180deg)}}@-webkit-keyframes rightswitch {0%{right:0;bottom:0; -webkit-transform: rotateZ(0);transform: rotateZ(0);}50%{right:45%;bottom: -80%;-webkit-transform: rotateZ(90deg);transform: rotateZ(90deg);}100%{right:90%;bottom:0;-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg);}}@keyframes rightswitch {0%{right:0;bottom:0;-webkit-transform: rotateZ(0);transform: rotateZ(0);}50%{right:45%;bottom: -80%;-webkit-transform: rotateZ(90deg);transform: rotateZ(90deg);} 100% {right:90%;bottom: 0;-webkit-transform: rotateZ(180deg);transform: rotateZ(180deg);}}