
@font-face {
  font-family: 'Violeta';
  src: url('https://h.xn--mehmetgkkaya-bjb.com/yazitipi/Violeta/Violeta.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Violeta';
  src:  url('https://h.xn--mehmetgkkaya-bjb.com/yazitipi/Violeta/Violeta.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAM90AA8AAAACTBwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAADPWAAAABwA
AAAccVSPIkdERUYAAM1AAAAAJAAAACYELAISR1BPUwAAzywAAAAsAAAAMLj/uP5HU1VCAADNZAAA
AcgAAANat5kQC09TLzIAAAHUAAAAUAAAAGCB/Q7bY21hcAAABlAAAAHNAAACUmcpzYVnYXNwAADN
OAAAAAgAAAAI//8AA2dseWYAAA2cAAC32wACIpx8etgfaGVhZAAAAVgAAAA1AAAANgxLLuRoaGVh
AAABkAAAACEAAAAkBir/tGhtdHgAAAIkAAAEKwAACBxVVbptbG9jYQAACCAAAAV6AAAIIAIJvZRt
YXhwAAABtAAAAB8AAAAgAk8A325hbWUAAMV4AAABfAAAA8yf10nncG9zdAAAxvQAAAZEAAANcZm+
rVR42mNgZGBgYGRwtOdwVIvnt/nKwM38AijCcLW/9CSM/vHsnwGnOvNvIJeDgQmomgEAT54NEAAA
AHjaY2BkYGD+/+85gwzroR/PfjJzqjMARZABEzsAsyMG4AAAAHjaY2BkYGBiZ7jDwMYAAkxAzAiE
DAwOYD4DABk0ATEAeNpjYGZSZZzAwMrAwtTFFMHAwOANoRnjGIwYfjEggQYGBnUBBgYmGL+gsqiY
wYGB95Eq0+J/7xksmH8zSioANYLkGBcyBQEpBQYmAFCvDV142r2UXWhbZRjHn+ectz2
